// メディアクエリー（スマホベース）
@mixin mq-up($breakpoint: tab) {

	@media #{map-get($breakpoints-up, $breakpoint)} {
		@content;
	}
}

// メディアクエリー（PCベース）
@mixin mq-down($breakpoint: tab) {

	@media #{map-get($breakpoints-down, $breakpoint)} {
		@content;
	}
}
