<% var title = 'レイアウト｜BUSHINA'; %>
<% var description = 'HTMLコーディングを効率化するテンプレート'; %>
<% var path = '..'; %>
<% include ../common/_header %>


<main class="p-content">
	<div class="l-container">

		<section class="p-component">
			<h2 class="e-title-block">.l-header</h2>
			<div class="p-preview e-preview">
				<div class="l-header">
					ヘッダーのコンテンツ
				</div>
			</div>
			<pre class="p-code"><code class="html">&lt;div class=&quot;l-header&quot;&gt;
	ヘッダーのコンテンツ
&lt;/div&gt;</code></pre>

			<h2 class="e-title-modify">.m-fixed</h2>
			<div class="p-preview e-preview">
				<div class="l-header">
					ヘッダーのコンテンツ
				</div>
			</div>
			<pre class="p-code"><code class="html">&lt;header class=&quot;l-header m-fixed&quot;&gt;
	ヘッダーのコンテンツ
&lt;/header&gt;</code></pre>
		</section>

		<section class="p-component">
			<h2 class="e-title-block">.l-footer</h2>
			<div class="p-preview e-preview">
				<div class="l-footer">
					Copyright &copy; hoge All Rights Reserved.
				</div>
			</div>
			<pre class="p-code"><code class="html">&lt;footer class=&quot;l-footer&quot;&gt;
	Copyright &amp;copy; hoge All Rights Reserved.
&lt;/footer&gt;</code></pre>
	</section>

	<section class="p-component">
			<h2 class="e-title-block">.l-container</h2>
			<div class="p-preview e-preview">
				<div class="l-container">
					コンテンツのインナー部分
				</div>
			</div>
			<pre class="p-code"><code class="html">&lt;footer&gt;
	&lt;div class=&quot;l-container&quot;&gt;
			コンテンツのインナー部分
		&lt;/div&gt;
&lt;/footer&gt;</code></pre>
	</section>

	</div>
</main>

<% include ../common/_footer %>
