	<footer class="l-footer">
		<div class="l-container">
			<div class="p-copy">&copy;copyright</div>
		</div>
	</footer>

	<div class="p-floating">
		<a href="#" class="c-icon m-arrow-top"><span></span></a>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="<%= path %>/src/lib/highlight/highlight.pack.js"></script>
	<script src="<%= path %>/src/js/script.js"></script>
	<script src="<%= path %>/src/js/my.js"></script>
	</body>
</html>
