*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	color: $color-text;
	line-height: $line-height-base;
	background: $color-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

video {
	max-width: 100%;
	height: auto;
}

code,
kbd,
pre,
samp {
	font-family: $font-family-code;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid $table-border-color;
}

th,
td {
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
	border: 1px solid $table-border-color;
}

th {
	background: $table-th-background;
	color: $table-th-color;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

input,
textarea,
select {
	max-width: 100%;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="number"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime-local"] {

	@extend %text;
}

textarea {

	@extend %textarea;
}

[type="submit"],
[type="button"] {

	@extend %button;
}

[type="radio"] {

	@extend %radio;
}

[type="checkbox"] {

	@extend %checkbox;
}

select {

	@extend %select;
}
