<% var title = 'CSSテンプレート「BUSHINA」'; %>
<% var description = 'HTMLコーディングを効率化するテンプレート'; %>
<% var path = '.'; %>
<% include common/_header %>

<main>

<div class="c-mainvisual">
  <div class="e-content">
    <div class="e-title">タイトル</div>
    <div class="e-lead">リード文</div>
  </div>
</div>

<section>
<div class="l-container">
	<div class="c-flex">
		<div class="e-col e-col06 u-window-left"><img src="src/img/cat.jpg" alt=""></div>
		<div class="e-col e-col06">
			<div class="e-title">タイトル</div>
			<div class="e-content">
				抜粋がはいるところ。抜粋がはいるところ。抜粋がはいるところ。抜粋がはいるところ。抜粋がはいるところ。抜粋がはいるところ。
			</div>
		</div>
	</div>
</div>
</section>

</main>

<% include common/_footer %>
