<% var title = 'コンポーネント｜BUSHINA'; %>
<% var description = 'HTMLコーディングを効率化するテンプレート'; %>
<% var path = '..'; %>
<% include ../common/_header %>

<div class="c-mainvisual">
  <div class="e-content">
    <div class="e-title">タイトル</div>
    <div class="e-lead">リード文</div>
  </div>
</div>

<nav class="p-toc">
	<div class="l-container">
		<ul class="c-list">
			<li><a href="#a-background">.c-background</a></li>
			<li><a href="#a-box">.c-box</a></li>
			<li><a href="#a-btn">.c-btn</a></li>
			<li><a href="#a-card">.c-card</a></li>
			<li><a href="#a-drawer">.c-drawer</a></li>
		</ul>
	</div>
</nav>

	<main class="p-content">
		<div class="l-container">
			<section class="p-component">
				<h2 id="a-background" class="e-title-block">.c-background</h2>
				<div class="p-preview e-preview u-px-0">
					<div class="c-background"></div>
				</div>
				<pre class="p-code"><code class="html">&lt;div class=&quot;c-background&quot;&gt;&lt;/div&gt;</code></pre>

				<h3 class="e-title-modify">.m-mask</h3>
				<div class="p-preview e-preview u-px-0">
					<div class="c-background m-mask"></div>
				</div>
				<pre class="p-code"><code class="html">&lt;div class=&quot;c-background m-mask&quot;&gt;&lt;/div&gt;</code></pre>

				<h3 class="e-title-modify">.m-fixed</h3>
				<div class="p-preview e-preview u-px-0">
					<div class="c-background m-fixed"></div>
				</div>
				<pre class="p-code"><code class="html">&lt;div class=&quot;c-background m-fixed&quot;&gt;&lt;/div&gt;</code></pre>

				<h3 class="e-title-modify">.m-window-full</h3>
				<div class="p-preview e-preview u-px-0">
					<div class="c-background m-window-full"></div>
				</div>
				<pre class="p-code"><code class="html">&lt;div class=&quot;c-background m-window-full&quot;&gt;&lt;/div&gt;</code></pre>

				<h3 class="e-title-modify">.m-window-right</h3>
				<div class="p-preview e-preview u-px-0">
					<div class="c-background m-window-right"></div>
				</div>
				<pre class="p-code"><code class="html">&lt;div class=&quot;c-background m-window-right&quot;&gt;&lt;/div&gt;</code></pre>

				<h3 class="e-title-modify">.m-window-left</h3>
				<div class="p-preview e-preview u-px-0">
					<div class="c-background m-window-left"></div>
				</div>
				<pre class="p-code"><code class="html">&lt;div class=&quot;c-background m-window-left&quot;&gt;&lt;/div&gt;</code></pre>
			</section>

				<section class="p-component">
					<h2 id="a-box" class="e-title-block">.c-box</h2>
					<div class="p-preview e-preview">
						<div class="c-box">
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box&quot;&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.e-title</h3>
					<div class="p-preview e-preview">
						<div class="c-box">
							<div class="e-title">ボックスの見出し</div>
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-balloo-right&quot;&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-balloo-right</h3>
					<div class="p-preview e-preview">
						<div class="c-box m-balloo-right">
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-balloo-right&quot;&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-balloo-top</h3>
					<div class="p-preview e-preview">
						<div class="c-box m-balloo-top">
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-balloo-top&quot;&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-balloo-bottom</h3>
					<div class="p-preview e-preview">
						<div class="c-box m-balloo-bottom">
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-balloo-bottom&quot;&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">m-balloo-left</h3>
					<div class="p-preview e-preview">
						<div class="c-box m-balloo-left">
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-balloo-left&quot;&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-type1</h3>
					<div class="p-preview e-preview">
						<div class="c-box m-type1">
							<div class="e-title">ボックスの見出し</div>
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-type1&quot;&gt;
	&lt;div class=&quot;e-title&quot;&gt;ボックスの見出し&lt;/div&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-type2</h3>
					<div class="p-preview e-preview">
						<div class="c-box m-type2">
							<div class="e-title">ボックスの見出し</div>
							<p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-box m-type2&quot;&gt;
	&lt;div class=&quot;e-title&quot;&gt;ボックスの見出し&lt;/div&gt;
	&lt;p&gt;ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。&lt;/p&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-block">.c-breadcrumb</h3>
					<div class="p-preview e-preview">
						<ol class="c-breadcrumb">
							<li class="e-item"><a href="#">ホーム</a></li>
							<li class="e-item"><a href="#">カテゴリー</a></li>
							<li class="e-item">タイトル</li>
						</ol>
					</div>
					<pre class="p-code"><code class="html">&lt;ol class=&quot;c-breadcrumb&quot;&gt;
	&lt;li class=&quot;e-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;ホーム&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;e-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;カテゴリー&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;e-item&quot;&gt;タイトル&lt;/li&gt;
&lt;/ol&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 id="a-btn" class="e-title-block">.c-btn</h2>
					<div class="p-preview e-preview">
						<a href="" class="c-btn">ボタン</a>
					</div>
					<pre class="p-code"><code class="html">&lt;a href=&quot;&quot; class=&quot;c-btn&quot;&gt;ボタン&lt;/a&gt;</code></pre>

					<h3 class="e-title-modify">.m-goast</h3>
					<div class="p-preview e-preview m-dark">
						<a href="" class="c-btn m-goast">ボタン</a>
					</div>
					<pre class="p-code"><code class="html">&lt;a href=&quot;&quot; class=&quot;c-btn m-goast&quot;&gt;ボタン&lt;/a&gt;</code></pre>

					<h3 class="e-title-modify">.m-arrow</h3>
					<div class="p-preview e-preview">
						<a href="" class="c-btn m-arrow">ボタン</a>
					</div>
					<pre class="p-code"><code class="html">&lt;a href=&quot;&quot; class=&quot;c-btn m-arrow&quot;&gt;ボタン&lt;/a&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 id="a-card" class="e-title-block">.c-card</h2>
					<div class="p-preview e-preview">
						<div class="c-card">
							<div class="e-img">
								<img src="../src/img/cat.jpg" alt="" />
							</div>
							<div class="e-body">
								<div class="e-meta">
									<time class="e-time" datetime="2019-01-01">2019-01-01</time>
									<div class="e-label">ラベル</div>
								</div>
								<div class="e-title">タイトル</div>
								<p class="e-excerpt">抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。</p>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-card&quot;&gt;
	&lt;div class=&quot;e-img&quot;&gt;
		&lt;img src=&quot;../src/img/cat.jpg&quot; alt=&quot;&quot; /&gt;
	&lt;/div&gt;
	&lt;div class=&quot;e-body&quot;&gt;
		&lt;div class=&quot;e-meta&quot;&gt;
			&lt;time class=&quot;e-time&quot; datetime=&quot;2019-01-01&quot;&gt;2019-01-01&lt;/time&gt;
			&lt;div class=&quot;e-label&quot;&gt;ラベル&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;p class=&quot;e-excerpt&quot;&gt;抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-shadow</h3>
					<div class="p-preview e-preview">
						<div class="c-card m-shadow">
							<div class="e-img">
								<img src="../src/img/cat.jpg" alt="" />
							</div>
							<div class="e-body">
								<div class="e-meta">
									<time class="e-time" datetime="2019-01-01">2019-01-01</time>
									<div class="e-label">ラベル</div>
								</div>
								<div class="e-title">タイトル</div>
								<p class="e-excerpt">抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。</p>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-card m-shadow&quot;&gt;
	&lt;div class=&quot;e-img&quot;&gt;
		&lt;img src=&quot;../src/img/cat.jpg&quot; alt=&quot;&quot; /&gt;
	&lt;/div&gt;
	&lt;div class=&quot;e-body&quot;&gt;
		&lt;div class=&quot;e-meta&quot;&gt;
			&lt;time class=&quot;e-time&quot; datetime=&quot;2019-01-01&quot;&gt;2019-01-01&lt;/time&gt;
			&lt;div class=&quot;e-label&quot;&gt;ラベル&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;p class=&quot;e-excerpt&quot;&gt;抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-horizon</h3>
					<div class="p-preview e-preview">
						<div class="c-card m-horizon">
							<div class="e-img">
								<img src="../src/img/cat.jpg" alt="" />
							</div>
							<div class="e-body">
								<div class="e-meta">
									<time class="e-time" datetime="2019-01-01">2019-01-01</time>
									<div class="e-label">ラベル</div>
								</div>
								<div class="e-title">タイトル</div>
								<p class="e-excerpt">抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。</p>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-card m-horizon&quot;&gt;
	&lt;div class=&quot;e-img&quot;&gt;
		&lt;img src=&quot;../src/img/cat.jpg&quot; alt=&quot;&quot; /&gt;
	&lt;/div&gt;
	&lt;div class=&quot;e-body&quot;&gt;
		&lt;div class=&quot;e-meta&quot;&gt;
			&lt;time class=&quot;e-time&quot; datetime=&quot;2019-01-01&quot;&gt;2019-01-01&lt;/time&gt;
			&lt;div class=&quot;e-label&quot;&gt;ラベル&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;p class=&quot;e-excerpt&quot;&gt;抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-modify">.c-checkbox</h3>
					<div class="p-preview e-preview">
						<label>
							<input type="checkbox" class="c-checkbox" name="your-checkbox" value="チェックボックス1" />
							<span>チェックボックス1</span>
						</label>
						<label>
							<input type="checkbox" class="c-checkbox" name="your-checkbox" value="チェックボックス2" />
							<span>チェックボックス2</span>
						</label>
						<label>
							<input type="checkbox" class="c-checkbox" name="your-checkbox" value="チェックボックス3" />
							<span>チェックボックス3</span>
						</label>
					</div>
					<pre class="p-code"><code class="html">&lt;label&gt;
	&lt;input type=&quot;checkbox&quot; class=&quot;c-checkbox&quot; name=&quot;your-checkbox&quot; value=&quot;チェックボックス1&quot; /&gt;
	&lt;span&gt;チェックボックス1&lt;/span&gt;
&lt;/label&gt;
&lt;label&gt;
	&lt;input type=&quot;checkbox&quot; class=&quot;c-checkbox&quot; name=&quot;your-checkbox&quot; value=&quot;チェックボックス2&quot; /&gt;
	&lt;span&gt;チェックボックス2&lt;/span&gt;
&lt;/label&gt;
&lt;label&gt;
	&lt;input type=&quot;checkbox&quot; class=&quot;c-checkbox&quot; name=&quot;your-checkbox&quot; value=&quot;チェックボックス3&quot; /&gt;
	&lt;span&gt;チェックボックス3&lt;/span&gt;
&lt;/label&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 id="a-drawer" class="e-title-block">.c-drawer</h2>
					<div class="p-preview e-preview">
						<div class="c-drawer e-drawer">
							<div class="e-icon js-drawer">
								<div class="e-bars">
									<span class="e-bar"></span>
									<span class="e-bar"></span>
									<span class="e-bar"></span>
								</div>
							</div>
							<div class="e-close js-drawer"></div>
							<div class="e-content">コンテンツ部分</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-drawer e-drawer&quot;&gt;
	&lt;div class=&quot;e-icon js-drawer&quot;&gt;
		&lt;div class=&quot;e-bars&quot;&gt;
			&lt;span class=&quot;e-bar&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;e-bar&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;e-bar&quot;&gt;&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;e-close js-drawer&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;e-content&quot;&gt;コンテンツ部分&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-left</h3>
					<div class="p-preview e-preview">
						<div class="c-drawer e-drawer m-left">
							<div class="e-icon js-drawer">
								<div class="e-bars">
									<span class="e-bar"></span>
									<span class="e-bar"></span>
									<span class="e-bar"></span>
								</div>
							</div>
							<div class="e-close js-drawer"></div>
							<div class="e-content">コンテンツ部分</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-drawer e-drawer m-left&quot;&gt;
	&lt;div class=&quot;e-icon js-drawer&quot;&gt;
		&lt;div class=&quot;e-bars&quot;&gt;
			&lt;span class=&quot;e-bar&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;e-bar&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;e-bar&quot;&gt;&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;e-close js-drawer&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;e-content&quot;&gt;コンテンツ部分&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-block">.c-ellipsis</h3>
					<div class="p-preview e-preview">
						<p class="c-ellipsis">
							吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。
						</p>
					</div>
					<pre
						class="p-code"
					><code class="html">&lt;p class=&quot;c-ellipsis&quot;&gt;吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。&lt;/p&gt;</code></pre>

					<h3 class="e-title-modify">.m-multiple-2</h3>
					<div class="p-preview e-preview">
						<p class="c-ellipsis m-multiple-2">
							吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。
						</p>
					</div>
					<pre
						class="p-code"
					><code class="html">&lt;p class=&quot;c-ellipsis m-multiple-2&quot;&gt;吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。&lt;/p&gt;</code></pre>

					<h3 class="e-title-modify">.m-multiple-3</h3>
					<div class="p-preview e-preview">
						<p class="c-ellipsis m-multiple-3">
							吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。
						</p>
					</div>
					<pre
						class="p-code"
					><code class="html">&lt;p class=&quot;c-ellipsis m-multiple-3&quot;&gt;吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。&lt;/p&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 id="a-file-control" class="e-title-block">.c-file-control</h2>
					<div class="p-preview e-preview">
						<div class="contact-item c-file-control">
							<label class="c-file-label" for="your-file">ファイル添付</label>
							<input type="file" name="your-file" id="your-file" class="c-file js-file" />
							<span class="c-file-result"></span>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;contact-item c-file-control&quot;&gt;
	&lt;label class=&quot;c-file-label&quot; for=&quot;your-file&quot;&gt;ファイル添付&lt;/label&gt;
	&lt;input type=&quot;file&quot; name=&quot;your-file&quot; id=&quot;your-file&quot; class=&quot;c-file js-file&quot; /&gt;
	&lt;span class=&quot;c-file-result&quot;&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 id="a-heading" class="e-title-block">.c-heading</h2>
					<div class="p-preview e-preview">
						<div class="c-heading">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type001</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type001">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type001&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type002</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type002">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type002&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type003</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type003">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type003&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type004</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type004">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type004&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type005</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type005">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type005&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type006</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type006">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type006&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type007</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type007">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type007&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type008</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type008">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type008&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type009</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type009">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type009&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type010</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type010">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type010&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-typ011</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type011"><span>見出し</span></div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type011&quot;&gt;&lt;span&gt;見出し&lt;/span&gt;&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type012</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type012">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type012&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type013</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type013">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type013&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type014</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type014">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type014&quot;&gt;見出し&lt;/h2&gt;</code></pre>

					<h3 class="e-title-modify">.m-type015</h3>
					<div class="p-preview e-preview">
						<div class="c-heading m-type015">見出し</div>
					</div>
					<pre class="p-code"><code class="html">&lt;h2 class=&quot;c-heading m-type015&quot;&gt;見出し&lt;/h2&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 id="a-list" class="e-title-block">.c-list</h2>
					<div class="p-preview e-preview">
						<ul class="c-list">
							<li><a href="">リスト1</a></li>
							<li>
								<a href="">リスト2</a>
								<ul>
									<li><a href="">子リスト1</a></li>
									<li>
										<a href="">子リスト2</a>
										<ul>
											<li><a href="">孫リスト1</a></li>
											<li><a href="">孫リスト2</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="">リスト3</a></li>
						</ul>
					</div>
					<pre class="p-code"><code class="html">&lt;ul class=&quot;c-list&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;リスト2&lt;/a&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;子リスト1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;
				&lt;a href=&quot;&quot;&gt;子リスト2&lt;/a&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

				<h3 class="e-title-modify">.m-disc</h3>
					<div class="p-preview e-preview">
						<ul class="c-list m-disc">
							<li><a href="">リスト1</a></li>
							<li>
								<a href="">リスト2</a>
								<ul>
									<li><a href="">子リスト1</a></li>
									<li>
										<a href="">子リスト2</a>
										<ul>
											<li><a href="">孫リスト1</a></li>
											<li><a href="">孫リスト2</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="">リスト3</a></li>
						</ul>
					</div>
					<pre class="p-code"><code class="html">&lt;ul class=&quot;c-list m-disc&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;リスト2&lt;/a&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;子リスト1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;
				&lt;a href=&quot;&quot;&gt;子リスト2&lt;/a&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<h3 class="e-title-modify">.m-decimal</h3>
					<div class="p-preview e-preview">
						<ul class="c-list m-decimal">
							<li><a href="">リスト1</a></li>
							<li>
								<a href="">リスト2</a>
								<ul>
									<li><a href="">子リスト1</a></li>
									<li>
										<a href="">子リスト2</a>
										<ul>
											<li><a href="">孫リスト1</a></li>
											<li><a href="">孫リスト2</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="">リスト3</a></li>
						</ul>
					</div>
					<pre class="p-code"><code class="html">&lt;ul class=&quot;c-list m-decimal&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;リスト2&lt;/a&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;子リスト1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;
				&lt;a href=&quot;&quot;&gt;子リスト2&lt;/a&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

					<h3 class="e-title-modify">.m-arrow-end</h3>
					<div class="p-preview e-preview">
						<ul class="c-list m-arrow-end">
							<li><a href="">リスト1</a></li>
							<li>
								<a href="">リスト2</a>
								<ul>
									<li><a href="">子リスト1</a></li>
									<li>
										<a href="">子リスト2</a>
										<ul>
											<li><a href="">孫リスト1</a></li>
											<li><a href="">孫リスト2</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="">リスト3</a></li>
						</ul>
					</div>
					<pre class="p-code"><code class="html">&lt;ul class=&quot;c-list m-arrow-end&quot;&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト1&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;
							&lt;a href=&quot;&quot;&gt;リスト2&lt;/a&gt;
							&lt;ul&gt;
								&lt;li&gt;&lt;a href=&quot;&quot;&gt;子リスト1&lt;/a&gt;&lt;/li&gt;
								&lt;li&gt;
									&lt;a href=&quot;&quot;&gt;子リスト2&lt;/a&gt;
									&lt;ul&gt;
										&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト1&lt;/a&gt;&lt;/li&gt;
										&lt;li&gt;&lt;a href=&quot;&quot;&gt;孫リスト2&lt;/a&gt;&lt;/li&gt;
									&lt;/ul&gt;
								&lt;/li&gt;
							&lt;/ul&gt;
						&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト3&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;</code></pre>

					<h3 class="e-title-modify">.m-count</h3>
					<div class="p-preview e-preview">
						<ul class="c-list m-count">
							<li><a href="">リスト1</a></li>
							<li><a href="">リスト2</a></li>
							<li><a href="">リスト3</a></li>
						</ul>
					</div>
					<pre class="p-code"><code class="html">&lt;ul class=&quot;c-list m-count&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト2&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;リスト3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-mainvisual</h2>
					<div class="p-preview e-preview">
						<div class="c-mainvisual">
							<div class="e-content">
								<div class="e-title">タイトル</div>
								<div class="e-lead">リード文</div>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-mainvisual&quot;&gt;
	&lt;div class=&quot;e-content&quot;&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;div class=&quot;e-lead&quot;&gt;リード文&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-mask</h3>
					<div class="p-preview e-preview">
						<div class="c-mainvisual m-mask">
							<div class="e-content">
								<div class="e-title">タイトル</div>
								<div class="e-lead">リード文</div>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-mainvisual m-mask&quot;&gt;
	&lt;div class=&quot;e-content&quot;&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;div class=&quot;e-lead&quot;&gt;リード文&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-hero</h3>
					<div class="p-preview e-preview">
						<div class="c-mainvisual m-hero">
							<div class="e-content">
								<div class="e-title">タイトル</div>
								<div class="e-lead">リード文</div>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-mainvisual m-hero&quot;&gt;
	&lt;div class=&quot;e-content&quot;&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;div class=&quot;e-lead&quot;&gt;リード文&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-video</h3>
					<div class="p-preview e-preview">
						<div class="c-mainvisual m-video">
							<video class="e-video" src="../src/img/video.mp4" muted autoplay loop></video>
							<div class="e-content">
								<div class="e-title">タイトル</div>
								<div class="e-lead">リード文</div>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-mainvisual m-video&quot;&gt;
	&lt;video class=&quot;e-video&quot; src=&quot;../src/img/video.mp4&quot; muted autoplay loop&gt;&lt;/video&gt;
	&lt;div class=&quot;e-content&quot;&gt;
		&lt;div class=&quot;e-title&quot;&gt;タイトル&lt;/div&gt;
		&lt;div class=&quot;e-lead&quot;&gt;リード文&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-marker</h2>
					<div class="p-preview e-preview">
						<p>ここは<span class="c-marker">マーカー</span>です。</p>
					</div>
					<pre class="p-code"><code class="html">&lt;p&gt;ここは&lt;span class=&quot;c-marker&quot;&gt;マーカー&lt;/span&gt;です。&lt;/p&gt;</code></pre>

					<h3 class="e-title-modify">.m-thin</h3>
					<div class="p-preview e-preview">
						<p>ここは<span class="c-marker m-thin">マーカー</span>です。</p>
					</div>
					<pre class="p-code"><code class="html">&lt;p&gt;ここは&lt;span class=&quot;c-marker m-thin&quot;&gt;マーカー&lt;/span&gt;です。&lt;/p&gt;</code></pre>

					<h3 class="e-title-modify">.m-cover</h3>
					<div class="p-preview e-preview">
						<div class="c-marker m-cover">マーカーを<br />改行しても<br />マーカーのまま</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-marker m-cover&quot;&gt;マーカーを&lt;br /&gt;改行しても&lt;br /&gt;マーカーのまま&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-modify">.c-modal</h2>
					<div class="p-preview e-preview">
						<a href="" class="c-btn js-modal" data-target="for-modal">モーダルを開く</a>
						<div id="for-modal" class="c-modal">
							<div class="e-close js-modal" data-target="for-modal">
								閉じる
							</div>
							<div class="e-content">
								モーダルのコンテンツ
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;a href=&quot;&quot; class=&quot;c-btn js-modal&quot; data-target=&quot;for-modal&quot;&gt;モーダルを開く&lt;/a&gt;
&lt;div id=&quot;for-modal&quot; class=&quot;c-modal&quot;&gt;
	&lt;div class=&quot;e-close js-modal&quot; data-target=&quot;for-modal&quot;&gt;
		閉じる
	&lt;/div&gt;
	&lt;div class=&quot;e-content&quot;&gt;
		モーダルのコンテンツ
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-navigation</h2>
					<div class="p-preview e-preview">
						<ul class="c-navigation">
							<li><a href="">メニュー1</a></li>
							<li>
								<a href="">メニュー2</a>
								<ul class="e-sub">
									<li><a href="">サブメニュー1</a></li>
									<li><a href="">サブメニュー2</a></li>
									<li><a href="">サブメニュー3</a></li>
								</ul>
							</li>
							<li><a href="">メニュー3</a></li>
							<li><a href="">メニュー4</a></li>
							<li><a href="">メニュー5</a></li>
						</ul>
					</div>
					<pre class="p-code"><code class="html">&lt;ul class=&quot;c-navigation&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;メニュー1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;メニュー2&lt;/a&gt;
		&lt;ul class=&quot;e-sub&quot;&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;サブメニュー1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;サブメニュー2&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;サブメニュー3&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;メニュー3&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;メニュー4&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;メニュー5&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-radio</h2>
					<div class="p-preview e-preview">
						<label>
							<input type="radio" name="your-radio" value="ラジオ1" class="c-radio" checked />
							<span>ラジオ1</span>
						</label>
						<label>
							<input type="radio" name="your-radio" value="ラジオ2" class="c-radio" />
							<span>ラジオ2</span>
						</label>
					</div>
					<pre class="p-code"><code class="html">&lt;label&gt;
	&lt;input type=&quot;radio&quot; name=&quot;your-radio&quot; value=&quot;ラジオ1&quot; class=&quot;c-radio&quot; checked /&gt;
	&lt;span&gt;ラジオ1&lt;/span&gt;
&lt;/label&gt;
&lt;label&gt;
	&lt;input type=&quot;radio&quot; name=&quot;your-radio&quot; value=&quot;ラジオ2&quot; class=&quot;c-radio&quot; /&gt;
	&lt;span&gt;ラジオ2&lt;/span&gt;
&lt;/label&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-section-head</h2>
					<div class="p-preview e-preview">
						<div class="c-section-head">
							<div class="e-title">セクション</div>
							<div class="e-lead">リード</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;section&gt;
	&lt;div class=&quot;c-section-head&quot;&gt;
		&lt;div class=&quot;e-title&quot;&gt;セクション&lt;/div&gt;
		&lt;div class=&quot;e-lead&quot;&gt;リード&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-modify">.c-select</h3>
					<div class="p-preview e-preview">
						<select name="your-select" class="c-select">
							<option value="セレクト1">セレクト1</option>
							<option value="セレクト2">セレクト2</option>
							<option value="セレクト3">セレクト3</option>
							<option value="セレクト4">セレクト4</option>
							<option value="セレクト5">セレクト5</option>
						</select>
					</div>
					<pre class="p-code"><code class="html">&lt;select name=&quot;your-select&quot; class=&quot;c-select&quot;&gt;
	&lt;option value=&quot;セレクト1&quot;&gt;セレクト1&lt;/option&gt;
	&lt;option value=&quot;セレクト2&quot;&gt;セレクト2&lt;/option&gt;
	&lt;option value=&quot;セレクト3&quot;&gt;セレクト3&lt;/option&gt;
	&lt;option value=&quot;セレクト4&quot;&gt;セレクト4&lt;/option&gt;
	&lt;option value=&quot;セレクト5&quot;&gt;セレクト5&lt;/option&gt;
&lt;/select&gt;</code></pre>

			<section class="p-component">
				<h3 class="e-title-modify">.m-full</h3>
				<div class="p-preview e-preview">
					<select name="your-select" class="c-select m-full">
						<option value="セレクト1">セレクト1</option>
						<option value="セレクト2">セレクト2</option>
						<option value="セレクト3">セレクト3</option>
						<option value="セレクト4">セレクト4</option>
						<option value="セレクト5">セレクト5</option>
					</select>
				</div>
				<pre class="p-code"><code class="html">&lt;select name=&quot;your-select&quot; class=&quot;c-select m-full&quot;&gt;
	&lt;option value=&quot;セレクト1&quot;&gt;セレクト1&lt;/option&gt;
	&lt;option value=&quot;セレクト2&quot;&gt;セレクト2&lt;/option&gt;
	&lt;option value=&quot;セレクト3&quot;&gt;セレクト3&lt;/option&gt;
	&lt;option value=&quot;セレクト4&quot;&gt;セレクト4&lt;/option&gt;
	&lt;option value=&quot;セレクト5&quot;&gt;セレクト5&lt;/option&gt;
&lt;/select&gt;</code></pre>
			</section>

					<h3 class="e-title-modify">multiple</h3>
					<div class="p-preview e-preview">
						<select name="your-select" class="c-select" multiple>
							<option value="セレクト1">セレクト1</option>
							<option value="セレクト2">セレクト2</option>
							<option value="セレクト3">セレクト3</option>
							<option value="セレクト4">セレクト4</option>
							<option value="セレクト5">セレクト5</option>
						</select>
					</div>
					<pre class="p-code"><code class="html">&lt;select name=&quot;your-select&quot; class=&quot;c-select&quot; multiple&gt;
	&lt;option value=&quot;セレクト1&quot;&gt;セレクト1&lt;/option&gt;
	&lt;option value=&quot;セレクト2&quot;&gt;セレクト2&lt;/option&gt;
	&lt;option value=&quot;セレクト3&quot;&gt;セレクト3&lt;/option&gt;
	&lt;option value=&quot;セレクト4&quot;&gt;セレクト4&lt;/option&gt;
	&lt;option value=&quot;セレクト5&quot;&gt;セレクト5&lt;/option&gt;
&lt;/select&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-tab</h2>
					<div class="p-preview e-preview">
						<div class="c-tab">
							<ul class="e-nav">
								<li class="e-item js-tab is-checked" data-target="for-tab1">タブ1</li>
								<li class="e-item js-tab" data-target="for-tab2">タブ2</li>
								<li class="e-item js-tab" data-target="for-tab3">タブ3</li>
							</ul>
							<div class="e-contents">
								<div id="for-tab1" class="e-content is-checked">
									タブ1のコンテンツ
								</div>
								<div id="for-tab2" class="e-content">
									タブ2のコンテンツ
								</div>
								<div id="for-tab3" class="e-content">
									タブ3のコンテンツ
								</div>
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-tab&quot;&gt;
	&lt;ul class=&quot;e-nav&quot;&gt;
		&lt;li class=&quot;e-item js-tab is-checked&quot; data-target=&quot;for-tab1&quot;&gt;タブ1&lt;/li&gt;
		&lt;li class=&quot;e-item js-tab&quot; data-target=&quot;for-tab2&quot;&gt;タブ2&lt;/li&gt;
		&lt;li class=&quot;e-item js-tab&quot; data-target=&quot;for-tab3&quot;&gt;タブ3&lt;/li&gt;
	&lt;/ul&gt;
	&lt;div class=&quot;e-contents&quot;&gt;
		&lt;div id=&quot;for-tab1&quot; class=&quot;e-content is-checked&quot;&gt;
			タブ1のコンテンツ
		&lt;/div&gt;
		&lt;div id=&quot;for-tab2&quot; class=&quot;e-content&quot;&gt;
			タブ2のコンテンツ
		&lt;/div&gt;
		&lt;div id=&quot;for-tab3&quot; class=&quot;e-content&quot;&gt;
			タブ3のコンテンツ
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-table</h2>
					<div class="p-preview e-preview">
						<table class="c-table">
							<tr>
								<th>head</th>
								<th>head</th>
								<th>head</th>
							</tr>
							<tr>
								<td>data</td>
								<td>data data</td>
								<td>data data data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
						</table>
					</div>
					<pre class="p-code"><code class="html">&lt;table class=&quot;c-table&quot;&gt;
	&lt;tr&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data data&lt;/td&gt;
		&lt;td&gt;data data data&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-modify">.m-fixed</h3>
					<div class="p-preview e-preview">
						<table class="c-table m-fixed">
							<tr>
								<th>head</th>
								<th>head</th>
								<th>head</th>
							</tr>
							<tr>
								<td>data</td>
								<td>data data</td>
								<td>data data data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
						</table>
					</div>
					<pre class="p-code"><code class="html">&lt;table class=&quot;c-table m-fixed&quot;&gt;
	&lt;tr&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data data&lt;/td&gt;
		&lt;td&gt;data data data&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-modify">.m-striped</h3>
					<div class="p-preview e-preview">
						<table class="c-table m-striped">
							<tr>
								<th>head</th>
								<th>head</th>
								<th>head</th>
							</tr>
							<tr>
								<td>data</td>
								<td>data data</td>
								<td>data data data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
						</table>
					</div>
					<pre class="p-code"><code class="html">&lt;table class=&quot;c-table m-striped&quot;&gt;
	&lt;tr&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data data&lt;/td&gt;
		&lt;td&gt;data data data&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-modify">.m-horizon</h3>
					<div class="p-preview e-preview">
						<table class="c-table m-horizon">
							<tr>
								<th>head</th>
								<th>head</th>
								<th>head</th>
							</tr>
							<tr>
								<td>data</td>
								<td>data data</td>
								<td>data data data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
						</table>
					</div>
					<pre class="p-code"><code class="html">&lt;table class=&quot;c-table m-horizon&quot;&gt;
	&lt;tr&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
		&lt;th&gt;head&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data data&lt;/td&gt;
		&lt;td&gt;data data data&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
		&lt;td&gt;data&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</code></pre>
				</section>

				<section class="p-component">
					<h3 class="e-title-modify">.c-table-responsive</h3>
					<div class="p-preview e-preview">
						<div class="c-table-responsive">
							<table class="c-table">
								<tr>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
									<th>head</th>
								</tr>
								<tr>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
								</tr>
							</table>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-table-responsive&quot;&gt;
	&lt;table class=&quot;c-table&quot;&gt;
		&lt;tr&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
			&lt;th&gt;head&lt;/th&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
			&lt;td&gt;data&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/table&gt;
&lt;/div&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-text</h2>
					<div class="p-preview e-preview">
						<input type="text" name="your-text" class="c-text" value="" />
					</div>
					<pre class="p-code"><code class="html">&lt;input type=&quot;text&quot; name=&quot;your-text&quot; class=&quot;c-text&quot; value=&quot;&quot; /&gt;</code></pre>
					<h3 class="e-title-modify">.m-full</h3>
					<div class="p-preview e-preview">
						<input type="text" name="your-text" class="c-text m-full" value="" />
					</div>
					<pre class="p-code"><code class="html">&lt;input type=&quot;text&quot; name=&quot;your-text&quot; class=&quot;c-text m-full&quot; value=&quot;&quot; /&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-textarea</h2>
					<div class="p-preview e-preview">
						<textarea name="your-textarea" class="c-textarea"></textarea>
					</div>
					<pre class="p-code"><code class="html">&lt;textarea name=&quot;your-textarea&quot; class=&quot;c-textarea&quot;&gt;&lt;/textarea&gt;</code></pre>

					<h3 class="e-title-modify">.m-resize</h3>
					<div class="p-preview e-preview">
						<textarea name="your-textarea" class="c-textarea m-resize"></textarea>
					</div>
					<pre class="p-code"><code class="html">&lt;textarea name=&quot;your-textarea&quot; class=&quot;c-textarea m-resize&quot;&gt;&lt;/textarea&gt;</code></pre>

					<h3 class="e-title-modify">.m-full</h3>
					<div class="p-preview e-preview">
						<textarea name="your-textarea" class="c-textarea m-full"></textarea>
					</div>
					<pre class="p-code"><code class="html">&lt;textarea name=&quot;your-textarea&quot; class=&quot;c-textarea m-full&quot;&gt;&lt;/textarea&gt;</code></pre>
				</section>

				<section class="p-component">
					<h2 class="e-title-block">.c-accordion</h2>
					<div class="p-preview e-preview">
						<div class="c-accordion">
							<div class="e-title js-accordion">タイトル</div>
							<div class="e-content js-accordion-content">
								コンテンツ部分
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">div class=&quot;c-accordion&quot;&gt;
	&lt;div class=&quot;e-title js-accordion&quot;&gt;タイトル&lt;/div&gt;
	&lt;div class=&quot;e-content js-accordion-content&quot;&gt;
		コンテンツ部分
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

					<h3 class="e-title-modify">.m-arrow</h3>
					<div class="p-preview e-preview">
						<div class="c-accordion m-arrow">
							<div class="e-title js-accordion">タイトル</div>
							<div class="e-content js-accordion-content">
								コンテンツ部分
							</div>
						</div>
					</div>
					<pre class="p-code"><code class="html">&lt;div class=&quot;c-accordion m-arrow&quot;&gt;
	&lt;div class=&quot;e-title js-accordion&quot;&gt;タイトル&lt;/div&gt;
	&lt;div class=&quot;e-content js-accordion-content&quot;&gt;
		コンテンツ部分
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
			</section>
		</div>
	</main>

<% include ../common/_footer %>
