// margin
.u-m-auto {
	margin: auto;
}

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.u-mt-auto {
	margin-top: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-ml-auto {
	margin-left: auto;
}

.u-mb-auto {
	margin-bottom: auto;
}

@for $i from 0 through 300 {

	.u-mx-#{$i} {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}

	.u-my-#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}

	.u-mt-#{$i} {
		margin-top: #{$i}px;
	}

	.u-mr-#{$i} {
		margin-right: #{$i}px;
	}

	.u-mb-#{$i} {
		margin-bottom: #{$i}px;
	}

	.u-ml-#{$i} {
		margin-left: #{$i}px;
	}
}

// padding
.u-p-0 {
	padding: 0;
}

.u-px-0 {
	padding-left: 0;
	padding-right: 0;
}

.u-py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.u-pt-0 {
	padding-top: 0;
}

.u-pr-0 {
	padding-right: 0;
}

.u-pb-0 {
	padding-bottom: 0;
}

.u-pl-0 {
	padding-left: 0;
}
