// 左
.u-text-left {
	text-align: left;
}

// 中央
.u-text-center {
	text-align: center;
}

// 右
.u-text-right {
	text-align: right;
}

// 均等割り付け
.u-text-justify {
	text-align: justify;
	text-justify: inter-ideograph;
}
