.c-accordion {
}

.c-accordion__title {
	padding: 0.4em 0.8em;
	cursor: pointer;
}

.c-accordion__content {
	display: none;
	padding: 0.4em 0.8em;
}

.c-accordion__title--arrow {
	position: relative;
	padding-right: 2.4em;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0.4em;
		transform: translateY(-50%);
		width: 0.8em;
		height: 0.8em;
		background: transparent url(../img/arrow-bottom.png) no-repeat top center / cover;
		transition: all 0.5s ease 0s;
	}

	.is-checked & {

		&::after {
			transform: translateY(-50%) rotateX(180deg);
		}
	}
}
