.c-background {
	width: 100%;
	height: 300px;
	background: transparent url(../img/background.jpg) no-repeat center center / cover;
	position: relative;
}

// マスク
.c-background--mask {

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.3);
	}
}

// 背景を固定
.c-background--fixed {
	background-attachment: fixed;
}

// ウインドウ幅いっぱいに広げる
.c-background--window-full {
	margin: 0 calc(50% - 50vw);
	padding: 0 calc(50vw - 50%);
	overflow: hidden;
	width: 100vw;
}

.c-background--window-right {
	margin: 0 auto 0 calc(50% - 50vw);
	overflow: hidden;
	width: 50vw;
}

.c-background--window-left {
	margin: 0 calc(50% - 50vw) 0 auto;
	overflow: hidden;
	width: 50vw;
}
