.c-btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0.7em 2em;
	margin: 0;
	background-image: none;
	background-color: $color-btn;
	color: color-from-background($color-btn);
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 0;
	font-size: 1em;
	text-align: center;
	-webkit-appearance: none;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:hover,
	&:focus {
		outline: none;
	}

	&::-moz-foucus-inner {
		padding: 0;
		border: none;
	}
}

// 影
.c-btn--shadow {
	box-shadow: 0 0 3px 0 rgba(#000, 0.16);
}

// ゴースト
.c-btn--goast {
	background-color: transparent;
	color: #fff;
	border-color: currentColor;
}

// アロー
.c-btn--arrow {
	position: relative;
	padding-right: 2.8em;

	&::after {
		content: "";
		width: 1em;
		height: 1em;
		position: absolute;
		right: 0.4em;
		top: 50%;
		transform: translateY(-50%);
		background: transparent url(../img/arrow-right-w.png) no-repeat center center / cover;
	}
}
