.c-card {
	display: inline-block;
	text-decoration: none;
	background: #fff;
	position: relative;
}

.c-card__img {
	text-align: center;
}

.c-card__body {
	padding: 0.4em;
}

.c-card__title {
	font-size: 1.2em;
	font-weight: 700;
	margin: 0.4em 0;
}

.c-card__excerpt {
	font-size: 0.95em;
	color: #757575;
	margin: 0;
}

.c-card__meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.c-card__time,
.c-card__label {
	margin-bottom: 0.4em;
}

.c-card__time {
	display: block;
	color: #757575;
	font-size: 0.875em;
}

.c-card__label {
	margin-left: auto;
	display: block;
	text-decoration: none;
	background: $card-label-background;
	color: $card-label-color;
	padding: 0.2em 0.8em;
	font-size: 0.875em;
}

.c-card--horizon {
	display: flex;
}

.c-card__img--horizon {
	width: 150px;
	padding: 0.4em;
}

.c-card__body--horizon {
	width: calc(100% - 150px);
	padding: 0.4em;
}

.c-card--shadow {
	box-shadow: 0 0 5px 0 rgba(#000, 0.16);
}
