.c-checkbox {
	display: none;

	+ span {
		display: inline-block;
		position: relative;
		padding: 0 0 0 1.6rem;
		margin: 0;
		cursor: pointer;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: #fff;
			border: 1px solid $color-border--form;
			border-radius: 2px;
			width: 1rem;
			height: 1rem;
			display: block;
		}

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%) rotate(-45deg);
			width: 1rem;
			height: 0.6rem;
			margin-top: -0.2rem;
			display: block;
			border-left: 3px solid $color-key;
			border-bottom: 3px solid $color-key;
			transition: all 0.3s ease 0s;
			opacity: 0;
		}
	}

	&:checked {

		+ span {

			&::before {
				border: 1px solid $color-border--form--foucs;
			}

			&::after {
				opacity: 1;
			}
		}
	}
}
