.c-flex {
	display: flex;
	flex-wrap: wrap;

	// 上下中央
	&.m-middle {
		align-items: center;
	}

	// 中央寄せ
	&.m-center {
		justify-content: center;
	}

	// 反転
	&.m-reverse {
		flex-direction: row-reverse;
	}

	// flexアイテム
	> .e-col {
		padding: 0;
	}

	> .e-col01 {
		flex: 0 0 (1 / 12 * 100%);
	}

	> .e-col02 {
		flex: 0 0 (2 / 12 * 100%);
	}

	> .e-col03 {
		flex: 0 0 (3 / 12 * 100%);
	}

	> .e-col04 {
		flex: 0 0 (4 / 12 * 100%);
	}

	> .e-col05 {
		flex: 0 0 (5 / 12 * 100%);
	}

	> .e-col06 {
		flex: 0 0 (6 / 12 * 100%);
	}

	> .e-col07 {
		flex: 0 0 (7 / 12 * 100%);
	}

	> .e-col08 {
		flex: 0 0 (8 / 12 * 100%);
	}

	> .e-col09 {
		flex: 0 0 (9 / 12 * 100%);
	}

	> .e-col10 {
		flex: 0 0 (10 / 12 * 100%);
	}

	> .e-col11 {
		flex: 0 0 (11 / 12 * 100%);
	}

	> .e-col12 {
		flex: 0 0 (12 / 12 * 100%);
	}

	@include mq("tab") {

		> .e-col01-tab {
			flex: 0 0 (1 / 12 * 100%);
		}

		> .e-col02-tab {
			flex: 0 0 (2 / 12 * 100%);
		}

		> .e-col03-tab {
			flex: 0 0 (3 / 12 * 100%);
		}

		> .e-col04-tab {
			flex: 0 0 (4 / 12 * 100%);
		}

		> .e-col05-tab {
			flex: 0 0 (5 / 12 * 100%);
		}

		> .e-col06-tab {
			flex: 0 0 (6 / 12 * 100%);
		}

		> .e-col07-tab {
			flex: 0 0 (7 / 12 * 100%);
		}

		> .e-col08-tab {
			flex: 0 0 (8 / 12 * 100%);
		}

		> .e-col09-tab {
			flex: 0 0 (9 / 12 * 100%);
		}

		> .e-col10-tab {
			flex: 0 0 (10 / 12 * 100%);
		}

		> .e-col11-tab {
			flex: 0 0 (11 / 12 * 100%);
		}

		> .e-col12-tab {
			flex: 0 0 (12 / 12 * 100%);
		}
	}

	@include mq("sp") {

		> .e-col01-sp {
			flex: 0 0 (1 / 12 * 100%);
		}

		> .e-col02-sp {
			flex: 0 0 (2 / 12 * 100%);
		}

		> .e-col03-sp {
			flex: 0 0 (3 / 12 * 100%);
		}

		> .e-col04-sp {
			flex: 0 0 (4 / 12 * 100%);
		}

		> .e-col05-sp {
			flex: 0 0 (5 / 12 * 100%);
		}

		> .e-col06-sp {
			flex: 0 0 (6 / 12 * 100%);
		}

		> .e-col07-sp {
			flex: 0 0 (7 / 12 * 100%);
		}

		> .e-col08-sp {
			flex: 0 0 (8 / 12 * 100%);
		}

		> .e-col09-sp {
			flex: 0 0 (9 / 12 * 100%);
		}

		> .e-col10-sp {
			flex: 0 0 (10 / 12 * 100%);
		}

		> .e-col11-sp {
			flex: 0 0 (11 / 12 * 100%);
		}

		> .e-col12-sp {
			flex: 0 0 (12 / 12 * 100%);
		}
	}

	// 反転
	&.m-margin {

		> .e-col {
			padding: 0.8rem;
		}
	}
}
