.c-icon {
	display: inline-block;
	width: $icon-widht;
	height: $icon-height;
	font-size: $icon-font;
	position: relative;
	overflow: hidden;
}

// マル
.c-icon-circle {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 84%;
		height: 84%;
		margin: -42% 0 0 -42%;
		border-radius: 50%;
		border: 0.16em solid $icon-circle-color;
	}
}

// バツ
.c-icon-cross {

	@extend .c-icon;

	> span {

		&::before,
		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 84%;
			height: 16%;
			margin: -8% 0 0 -42%;
			background: $icon-cross-color;
		}

		&::before {
			transform: rotate(-45deg);
		}

		&::after {
			transform: rotate(45deg);
		}
	}
}

.c-icon-hamburger {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 84%;
		height: 16%;
		margin: -8% 0 0 -42%;
		background: $icon-hamburger-color;

		&::before,
		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			margin: -8% 0 0 -50%;
			background: $icon-hamburger-color;
		}

		&::before {
			margin-top: -38%;
		}

		&::after {
			margin-top: 19%;
		}
	}
}

// チェック
.c-icon-check {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 84%;
		height: 36%;
		margin: -18% 0 0 -42%;
		border-left: 0.16em solid $icon-check-color;
		border-bottom: 0.16em solid $icon-check-color;
		transform: rotate(-45deg);
	}
}

// アロー右
.c-icon-arrow-right {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 56%;
		height: 56%;
		margin: -28% 0 0 -36%;
		border-right: 0.16em solid $icon-arrow-right-color;
		border-bottom: 0.16em solid $icon-arrow-right-color;
		transform: rotate(-45deg);
	}
}

// アロー下
.c-icon-arrow-bottom {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 56%;
		height: 56%;
		margin: -36% 0 0 -28%;
		border-left: 0.16em solid $icon-arrow-bottom-color;
		border-bottom: 0.16em solid $icon-arrow-bottom-color;
		transform: rotate(-45deg);
	}
}

// アロー左
.c-icon-arrow-left {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 56%;
		height: 56%;
		margin: -28% 0 0 -14%;
		border-left: 0.16em solid $icon-arrow-left-color;
		border-top: 0.16em solid $icon-arrow-left-color;
		transform: rotate(-45deg);
	}
}

// アロー上
.c-icon-arrow-top {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 56%;
		height: 56%;
		margin: -14% 0 0 -28%;
		border-top: 0.16em solid $icon-arrow-top-color;
		border-right: 0.16em solid $icon-arrow-top-color;
		transform: rotate(-45deg);
	}
}

// 三角
.c-icon-triangle {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		margin: -42% 0 0 -42%;
		border-style: solid;
		border-width: 0 0.42em 0.728em 0.42em;
		border-color: transparent transparent $icon-triangle-color transparent;
	}
}

// ひし形
.c-icon-rhombus {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 56%;
		height: 56%;
		margin: -28% 0 0 -28%;
		background: $icon-rhombus-color;
		transform: rotate(-45deg);
	}
}

// 虫眼鏡
.c-icon-glass {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 56%;
		height: 56%;
		border-radius: 50%;
		margin: -0.28em 0 0 -0.28em;
		border: 0.12em solid $icon-glass-color;

		&::after {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			left: 50%;
			width: 72%;
			height: 36%;
			background: $icon-glass-color;
			margin: 0.2em 0 0 0.14em;
			transform: rotate(45deg);
		}
	}
}

// 四角
.c-icon-square {

	@extend .c-icon;

	> span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 84%;
		height: 84%;
		margin: -42% 0 0 -42%;
		background: $icon-square-color;
	}
}
