.c-marker {
	display: inline-block;
	padding: 0 0.2em;
	background: $color-marker;

	&.m-thin {
		background: linear-gradient(transparent 60%, $color-marker 0);
	}

	&.m-cover {
		display: inline;
		background: $color-marker;
		line-height: 2.2;
		padding: 0;
		box-shadow:
			$marker-pd-y 0 $color-marker,
 0 $marker-pd-x $color-marker,
 $marker-pd-y $marker-pd-x $color-marker,
 (-$marker-pd-y) 0 $color-marker,
 0 (-$marker-pd-x) $color-marker,
 (-$marker-pd-y) (-$marker-pd-x) $color-marker,
 (-$marker-pd-y) $marker-pd-x $color-marker,
			$marker-pd-y (-$marker-pd-x) $color-marker;
	}
}
