.c-marker {
	display: inline-block;
	padding: 0 0.2em;
	background: $color-marker;

	&.m-thin {
		background: linear-gradient(transparent 60%, $color-marker 0);
	}

	&.m-stripe {
		position: relative;
		background: transparent;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 3px;
			width: 100%;
			height: 0.4em;
			background: repeating-linear-gradient(-45deg, $color-marker, $color-marker 2px, #fff 0, #fff 4px);
			z-index: -1;
		}
	}

	&.m-cover {
		display: inline;
		background: $color-marker;
		line-height: 2.2;
		padding: 0;
		box-shadow:
			$marker-pd-y 0 $color-marker,
 0 $marker-pd-x $color-marker,
 $marker-pd-y $marker-pd-x $color-marker,
 (-$marker-pd-y) 0 $color-marker,
 0 (-$marker-pd-x) $color-marker,
 (-$marker-pd-y) (-$marker-pd-x) $color-marker,
 (-$marker-pd-y) $marker-pd-x $color-marker,
			$marker-pd-y (-$marker-pd-x) $color-marker;
	}
}
