.c-marker {
	display: inline-block;
	padding: 0 0.2em;
	background: $color-key;

	&.m-thin {
		background: linear-gradient(transparent 60%, $color-key 0);
	}

	&.m-cover {
		display: inline;
		color: #fff;
		background: $color-key;
		line-height: 2.2;
		padding: 0;
		box-shadow: $marker-pd-y 0 $color-key, 0 $marker-pd-x $color-key, $marker-pd-y $marker-pd-x $color-key, (-$marker-pd-y) 0 $color-key, 0 (-$marker-pd-x) $color-key, (-$marker-pd-y) (-$marker-pd-x) $color-key, (-$marker-pd-y) $marker-pd-x $color-key, $marker-pd-y (-$marker-pd-x) $color-key;
	}
}
