.c-navigation {
	display: flex;

	a {
		text-decoration: none;
		display: block;
		transition: all 0.3s ease 0s;
	}

	> li {
		text-align: center;
		margin-right: 1.2em;
		position: relative;
		z-index: 32;

		&:last-child {
			margin-right: 0;
		}

		> ul {
			display: block;
			width: 200px;
			left: 0;
			opacity: 0;
			position: absolute;
			top: calc(100% - 0.2em);
			transition: all 0.5s ease 0s;
			visibility: hidden;
			z-index: 31;
			text-align: left;
		}

		&:hover {

			> ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
	}
}
