.c-radio {
	display: none;

	+ span {
		display: inline-block;
		position: relative;
		padding: 0 1em 0 1.4em;
		margin: 0;
		cursor: pointer;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: #fff;
			border: 1px solid $form-border-color;
			border-radius: 50%;
			width: 1em;
			height: 1em;
			display: block;
		}

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: $form-radio-color;
			border-radius: 50%;
			width: 1em;
			height: 1em;
			border: 1px solid $form-border-color--foucs;
			box-shadow: 0 0 0 0.1em #fff inset;
			display: block;
			opacity: 0;
			transition: all 0.3s ease 0s;
		}
	}

	&:checked {

		+ span {

			&::before {
				border: 1px solid $form-border-color--foucs;
			}

			&::after {
				opacity: 1;
			}
		}
	}
}
