.c-tab {
}

.c-tab__nav {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid $tab-border-color;
}

.c-tab__item {
	display: block;
	padding: 0.8em 1.6em;
	background: $tab-background;
	margin-bottom: -2px;
	transition: all 0.3s ease 0s;

	&.is-checked {
		background: $tab-background--active;
		color: #fff;
	}

	@include mq-up("tab") {

		&:hover {
			background: $tab-background--active;
			color: #fff;
		}
	}
}

.c-tab__content {
	display: none;

	&.is-checked {
		display: block;
	}
}
