.c-tab {

	.e-nav {
		display: flex;
		justify-content: center;

		.e-item {
			display: block;
			padding: 0.8rem 1.6rem;
			background: #eee;

			&.is-checked {
				background: $color-key;
				color: #fff;
			}
		}
	}

	.e-content {
		display: none;

		&.is-checked {
			display: block;
		}
	}
}
