.c-table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $table-border-color;
	width: 100%;
	background: #fff;

	th,
	td {
		border: 1px solid $table-border-color;
		padding: 0.7rem;
	}

	th {
		font-weight: 700;
	}
}

// 固定幅
.c-table--fixed {
	table-layout: fixed;
}

// 行をストライプ
.c-table--striped {

	tr:nth-of-type(even) {
		background: $table-background--active;
	}
}

// 横方向の罫線のみ
.c-table--horizon {
	border: none;

	tr {
		border-top: 1px solid $table-border-color;
		border-bottom: 1px solid $table-border-color;

		&:first-of-type {
			border-top: none;
		}

		&:last-of-type {
			border-bottom: none;
		}
	}

	th,
	td {
		border: none;
	}
}

// レスポンシブ
.c-table-responsive {
	display: block;
	width: 100%;
	padding: 0.2em 0;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
