.l-container {
	margin: 0 auto;
	padding: 0 $pd-x-sp;
	width: $layout-width-container;
	max-width: 100%;

	@include mq("tab") {
		padding-right: $pd-x-tab;
		padding-left: $pd-x-tab;
	}

	@include mq("pc") {
		padding-right: $pd-x-pc;
		padding-left: $pd-x-pc;
	}

	&.m-wide {
		width: $layout-width-container * 1.1;
	}

	&.m-narrow {
		width: $layout-width-container * 0.9;
	}

	&.m-full {
		width: 100%;
	}
}
