.l-row {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

// 上下中央
.l-row--middle {
	align-items: center;
}

// 中央寄せ
.l-row--center {
	justify-content: center;
}

// 反転
.l-row--reverse {
	flex-direction: row-reverse;
}

// flexアイテム
.l-row__col {
	padding: 0;
	display: flex;
	align-items: stretch;
	flex-direction: column;

	.l-row--padding & {
		padding: 0.8em;
	}
}

.l-row__col01 {
	width: (1 / 12 * 100%);
}

.l-row__col02 {
	width: (2 / 12 * 100%);
}

.l-row__col03 {
	width: (3 / 12 * 100%);
}

.l-row__col04 {
	width: (4 / 12 * 100%);
}

.l-row__col05 {
	width: (5 / 12 * 100%);
}

.l-row__col06 {
	width: (6 / 12 * 100%);
}

.l-row__col07 {
	width: (7 / 12 * 100%);
}

.l-row__col08 {
	width: (8 / 12 * 100%);
}

.l-row__col09 {
	width: (9 / 12 * 100%);
}

.l-row__col10 {
	width: (10 / 12 * 100%);
}

.l-row__col11 {
	width: (11 / 12 * 100%);
}

.l-row__col12 {
	width: (12 / 12 * 100%);
}

@include mq-up("tab") {

	.l-row__col01-tab {
		width: (1 / 12 * 100%);
	}

	.l-row__col02-tab {
		width: (2 / 12 * 100%);
	}

	.l-row__col03-tab {
		width: (3 / 12 * 100%);
	}

	.l-row__col04-tab {
		width: (4 / 12 * 100%);
	}

	.l-row__col05-tab {
		width: (5 / 12 * 100%);
	}

	.l-row__col06-tab {
		width: (6 / 12 * 100%);
	}

	.l-row__col07-tab {
		width: (7 / 12 * 100%);
	}

	.l-row__col08-tab {
		width: (8 / 12 * 100%);
	}

	.l-row__col09-tab {
		width: (9 / 12 * 100%);
	}

	.l-row__col10-tab {
		width: (10 / 12 * 100%);
	}

	.l-row__col11-tab {
		width: (11 / 12 * 100%);
	}

	.l-row__col12-tab {
		width: (12 / 12 * 100%);
	}
}

@include mq-up("pc") {

	.l-row__col01-pc {
		width: (1 / 12 * 100%);
	}

	.l-row__col02-pc {
		width: (2 / 12 * 100%);
	}

	.l-row__col03-pc {
		width: (3 / 12 * 100%);
	}

	.l-row__col04-pc {
		width: (4 / 12 * 100%);
	}

	.l-row__col05-pc {
		width: (5 / 12 * 100%);
	}

	.l-row__col06-pc {
		width: (6 / 12 * 100%);
	}

	.l-row__col07-pc {
		width: (7 / 12 * 100%);
	}

	.l-row__col08-pc {
		width: (8 / 12 * 100%);
	}

	.l-row__col09-pc {
		width: (9 / 12 * 100%);
	}

	.l-row__col10-pc {
		width: (10 / 12 * 100%);
	}

	.l-row__col11-pc {
		width: (11 / 12 * 100%);
	}

	.l-row__col12-pc {
		width: (12 / 12 * 100%);
	}
}
