// ベース色
$color-key: #efa336;
$color-accent: #e65100;
$color-background: #fff;
$color-text: #424242;
$color-text--thin: #757575;

// 透過度
$opacity: 0.6;

// ヘッダー
$header-background: #fff;
$header-color: #fff;

// フッター
$footer-background: #666;
$footer-color: #fff;

// ボーダー
$form-border-color: #bdbdbd;
$form-border-color--foucs: #9e9e9e;

// .c-box
$box-border-color: #757575;

// .c-button
$button-background: #757575;
$button-color: #fff;

// .c-card
$card-label-background: #757575;
$card-label-color: #fff;

// .c-drawer
$drawer-bar-color: #757575;
$drawer-text-color: #757575;

// .c-heading
$heading-border-color: #757575;
$heading-border-color--dark: #212121;
$heading-background: #757575;
$heading-background--thin: #e0e0e0;

// .c-list
$list-count-background: #757575;
$list-count-color: #fff;

// .c-marker
$marker-background: #e0e0e0;

// .c-tab
$tab-background: #e0e0e0;
$tab-background--active: #757575;
$tab-border-color: #e0e0e0;

// .c-table
$table-border-color: #bdbdbd;
$table-background--active: #e0e0e0;
$table-th-background: #757575;
$table-th-color: #fff;

// .c-pagenation
$pagenation-background: #eee;
$pagenation-background--current: #212121;

// .c-modal
$modal-background: #fff;
$modal-background--cover: rgba($color-key, 0.78);

// .c-icon
$icon-circle-color: #757575;
$icon-cross-color: #757575;
$icon-hamburger-color: #757575;
$icon-check-color: #757575;
$icon-arrow-right-color: #757575;
$icon-arrow-bottom-color: #757575;
$icon-arrow-left-color: #757575;
$icon-arrow-top-color: #757575;
$icon-triangle-color: #757575;
$icon-rhombus-color: #757575;
$icon-glass-color: #757575;
$icon-square-color: #757575;

// swiper
$swiper-arrow-color: #e0e0e0;
$swiper-pagenation-color: #e0e0e0;
$swiper-pagenation-color--active: #757575;

// .c-checkbox
$form-checkbox-color: #616161;

// .c-radio
$form-radio-color: #616161;
