// ベース色
$color-key: #efa336; // $vr-m
$color-accent: #e65100; // $cr-a

// 背景
$color-background: #fff; // $cr-bg

// テキスト色
$color-text: #333; // $cr-txt

// 透過度
$opacity: 0.6; // $opacity

// ボーダー
$color-border--table: #eee;
$color-border--form: #eee;
$color-border--form--foucs: #ccc;
