// ベース色
$color-key: #efa336;
$color-accent: #e65100;

// 背景
$color-background: #fff;

// テキスト色
$color-text: #333;
$color-text--thin: #666;

// 透過度
$opacity: 0.6;

// ボーダー
$color-border--table: #eee;
$color-border--form: #eee;
$color-border--form--foucs: #ccc;
