// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-container: 1080px;
$layout-width-smartphone: 768px;

// ブレークポイント（スマホベース）
$breakpoints-up: (
	"sp": "(max-width: #{$layout-width-smartphone - 1px})",
	"tab-only": "(min-width: #{$layout-width-smartphone}) and (max-width: #{$layout-width-container - 1px})",
	"tab": "(min-width: #{$layout-width-smartphone})",
	"pc": "(min-width: #{$layout-width-container})",
	"ie": "(-ms-high-contrast: active), (-ms-high-contrast: none)"
);

// ブレークポイント（PCベース）
$breakpoints-down: (
	"sp": "(max-width: #{$layout-width-smartphone - 1px})",
	"tab-only": "(min-width: #{$layout-width-smartphone}) and (max-width: #{$layout-width-container - 1px})",
	"tab": "(max-width: #{$layout-width-container - 1px})",
	"pc": "(min-width: #{$layout-width-container})",
	"ie": "(-ms-high-contrast: active), (-ms-high-contrast: none)"
);

// ヘッダー高さ
$header-height-sp: 60px;
$header-height-pc: 60px;

// z-index の指定
$layer: (
	loading: 200,
	modal: 100,
	drawer: 40,
	floating: 30,
	header: 20,
	footer: 10,
	default: 1
);

// 余白
$pd-x-pc: 0;
$pd-x-tab: 32px;
$pd-x-sp: 24px;

// アイコン
$icon-widht: 50px;
$icon-height: 50px;
$icon-font: 50px;

// マーカー
$marker-pd-x: 0.4em;
$marker-pd-y: 1em;

// ドロワー
$drawer-bar-space: 5px;
$drawer-bar-width: 30px;
$drawer-bar-height: 3px;
